html {
  overflow-x: hidden;
}

.noScroll {
  overflow: hidden;
}

.up-btn {
  position: fixed;
  bottom: 80px;
  left: 80px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url("../static/img/up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
  transform: rotate(180deg);
  display: none;
  @media screen and (max-width: 1200px) {
    left: 60px;
  }
  @media screen and (max-width: 992px) {
    left: 40px;
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
  &.show {
    display: block;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}

.main-call-link {
  position: fixed;
  bottom: 80px;
  right: 80px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url("../static/img/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
  display: none;
  @media screen and (max-width: 1200px) {
    right: 60px;
  }
  @media screen and (max-width: 992px) {
    right: 40px;
  }
  @media screen and (max-width: 576px) {
    right: 10px;
    transform: scale(1.1);
  }
  &.show {
    display: block;
  }
}

.main {
  font-family: 'Manrope Regular';
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("../static/img/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  height: 100vh;
  @media screen and (max-width: 768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("../static/img/main-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main {
  min-height: 700px;
  height: 100vh;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 100vh !important;
    min-height: fit-content !important;
  }

  .container-fluid {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &-center {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;

    &__title {
      text-align: center;
      color: $white-color;
      font-size: 22px;
      line-height: 1.5;
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 32px;
      @media screen and (max-width: 576px) {
        font-size: 18px;
      }
    }

    img {
      width: 35vw;
      max-width: 668px;
      display: block;
      @media screen and (max-width: 1600px) {
        width: 35vw;
      }

      @media screen and (max-width: 768px) {
        width: 420px;
        max-width: calc(100% - 90px);
      }
    }

    .d-md-none {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }

      .btn-youtube {
        color: $white-color;
        font-size: 14px;
        cursor: pointer;
        margin: 32px auto 0 auto;
        width: max-content;

        &:hover {
          color: $white-color;
        }

        span {
          height: 26px;
          width: 33px;
        }
      }
    }
  }

  &-text {
    max-width: 547px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 45px;
    @media screen and (max-width: 1500px) {
      max-width: 100%;
    }

    @media screen and (max-width: 1200px) {
      font-size: 15px;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 25px;
      line-height: 1.7;
    }
  }


  &-number-wrap {
    position: relative;
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
    @media screen and (max-width: 1500px) {
      margin-bottom: 60px;
      height: 90px;
    }

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
      height: 70px;
    }

    @media screen and (max-width: 768px) {
      width: 55px;
      height: 66px;
      margin-bottom: 3px;
    }
  }

  &-number-big {
    font-size: 110px;
    line-height: 100px;
    color: rgb(243, 243, 243);
    font-family: 'Manrope Bold';
    @media screen and (max-width: 1500px) {
      font-size: 100px;
      line-height: 90px;
    }

    @media screen and (max-width: 992px) {
      font-size: 80px;
      line-height: 70px;
    }

    @media screen and (max-width: 768px) {
      font-size: 48px;
      line-height: 66px;
    }
  }

  &-number {
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    &.active {
      transform: translate(-100px, 50%);
      transition: ease-in-out 1s;
    }
    @media screen and (max-width: 768px) {
      font-size: 9px;
      line-height: 12px;
    }
  }

  &-title {
    line-height: 1;
    margin-bottom: 35px;
    @media screen and (max-width: 992px) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
      line-height: 25px;
      margin-bottom: 26px;
    }
  }

  &-subtitle {
    line-height: 1.2;
    margin-bottom: 40px;
    @media screen and (max-width: 1500px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 992px) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 26px;
    }
  }
  .flex-end {
    display: flex;
    align-items: flex-end;
  }

  &-left {
    z-index: 6;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &__priority {
      list-style: none;
      padding: 0;
      margin: 0;

      li a {
        display: block;
        font-size: 14px;
        color: $white-color;
        line-height: 2.143;
        text-decoration: none;
        position: relative;
        transition: all 0.25s;
        &:before {
          content: "—";
          font-weight: 600;
          color: $yellow-btn-color;
          width: 0;
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          margin-right: 10px;
        }

        &:hover {
          cursor: pointer;
          color: $white-color;
          text-decoration: none;
          padding-left: 20px;
          &:before {
            width: auto;
            display: block;
          }
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border: none;
        }
      }
    }

    .btn-youtube {
      color: $white-color;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $white-color;
      }

      span {
        height: 26px;
        width: 33px;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &--col1, &--col2 {
      width: 50%;
      min-width: 50%;
      padding: 55px 80px;
      @media screen and (max-width: 1500px) {
        padding: 50px 40px;
      }

      @media screen and (max-width: 1500px) {
        padding: 40px 30px;
      }

      @media screen and (max-width: 992px) {
        padding: 30px 20px;
      }
    }

    &--col1 {
      @media screen and (max-width: 1500px) {
        width: 40%;
        min-width: 40%;
      }

      @media screen and (max-width: 1200px) {
        width: 35%;
        min-width: 35%;
      }

      @media screen and (max-width: 992px) {
        width: 30%;
        min-width: 30%;
      }
    }

    &--col2 {
      background: $white-color;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: 1500px) {
        width: 60%;
        min-width: 60%;
      }

      @media screen and (max-width: 1200px) {
        width: 65%;
        min-width: 65%;
      }

      @media screen and (max-width: 992px) {
        width: 70%;
        min-width: 70%;
      }
    }
  }

  &__footer--down {
    display: block;
    cursor: pointer;
    height: 40px;
    width: 20px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../static/img/arrow-green-down.svg");
    transition: all 0.25s;
    animation: 1s linear 2s infinite alternate arrow-down;
    @media screen and (max-width: 1200px) {
      transform: scale(0.8);
    }

    &:hover {
      cursor: pointer;
      height: 50px;
    }
  }

  @-webkit-keyframes arrow-down {
    from {
      height: 40px;
    }
    to {
      height: 50px;
    }
  }
  @-moz-keyframes arrow-down {
    from {
      height: 40px;
    }
    to {
      height: 50px;
    }
  }
  @-o-keyframes arrow-down {
    from {
      height: 40px;
    }
    to {
      height: 50px;
    }
  }
  @keyframes arrow-down {
    from {
      height: 40px;
    }
    to {
      height: 50px;
    }
  }

  .w-40 {
    width: 40%;
    min-width: 40%;
    @media screen and (max-width: 1500px) {
      width: 40%;
      min-width: 40%;
    }

    @media screen and (max-width: 992px) {
      width: 45%;
      min-width: 45%;
      transform: scale(0.9);
    }
  }

  &__footer--soc {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
    @media screen and (max-width: 992px) {
      margin-bottom: 18px;
      margin-top: 5px;
    }

    a {
      color: #c7c6c6;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        color: $yellow-btn-color;
      }
    }
  }

  &__footer--info {
    @media screen and (max-width: 1200px) {
      transform: scale(0.9);
    }

    @media screen and (max-width: 992px) {
      transform: scale(0.8);
    }

    .main-menu__footer--phone {
      font-size: 20px;
      display: block;
      height: 30px;
      line-height: 30px;
      transition: all 0.25s;
      margin-bottom: 10px;
      color: $black-color;
      text-decoration: none;
      font-weight: 600;

      @media screen and (max-width: 576px) {
        height: 21px;
        line-height: 21px;
        font-size: 16px;
      }

      &:hover {
        text-decoration: none;
        color: $yellow-btn-color;
      }
    }

    p {
      font-size: 14.352px;
      color: rgb(78, 78, 78);
    }
  }
}

.flex {
  display: flex;
}

.w-40 {
  .space-between {
    justify-content: space-between;

    a {
      display: block;
      color: $black-color;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.25s;
      @media screen and (max-width: 1200px) {
        transform: scale(0.9);
      }

      &:hover {
        color: $black-color;
        text-decoration: underline;
      }
    }
  }
}

.main1, .main2, .main3, .main4, .main5, .main6 {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 100px 0;

  @media screen and (max-width: 768px) {
    padding: 50px 0 0 0;
    min-height: auto;
  }

  .right-col {
    margin-left: auto;
  }

  .row {
    @media screen and (max-width: 768px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .col-50 {
    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 100%;
    }
  }

  .main-sm-image {
    display: none;
    margin-top: 40px;
    @media screen and (max-width: 768px) {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  &.example-classname {
    @media screen and (max-width: 768px) {
      height: auto !important;
    }
  }
}

.main1 {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/main1.png");
  position: relative;

  @media screen and (max-width: 1500px) {
    background-size: 45%;
  }
  @media screen and (max-width: 768px) {
    background-image: none;
  }
}

.main2 {
  position: relative;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/main2.png");
  overflow-x: hidden;

  @media screen and (max-width: 1200px) {
    background-size: 50%;
  }

  @media screen and (max-width: 768px) {
    background-image: none;
  }

  .col-50 {
    width: 35%;
    min-width: 35%;
    @media screen and (max-width: 1500px) {
      width: 40%;
      min-width: 40%;
    }
    @media screen and (max-width: 1200px) {
      width: 45%;
      min-width: 45%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 100%;
    }

    .main-title {
      line-height: 1.3;
      margin-bottom: 60px;
      @media screen and (max-width: 992px) {
        margin-bottom: 40px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(100% / 3);
        min-width: calc(100% / 3);
        font-size: 16px;
        line-height: 1;
        margin-bottom: 45px;
        @media screen and (max-width: 1500px) {
          font-size: 15px;
        }

        @media screen and (max-width: 992px) {
          font-size: 14px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.main3 {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/4_7.png");
  overflow-x: hidden;
  position: relative;

  @media screen and (max-width: 768px) {
    background-image: none;
  }

  &-image {
    height: 100%;
    width: 200px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 450px;
    background-image: url("../static/img/kust.png");
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (max-width: 1500px) {
      width: 100px;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  @media screen and (max-width: 1500px) {
    .col-50 {
      padding-right: 50px;
    }
  }

  @media screen and (max-width: 1200px) {
    .col-50 {
      padding-right: 0;
    }
  }
}

.main4 {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/2_1.png");
  position: relative;

  @media screen and (max-width: 768px) {
    background-image: none;
  }
}

.main5 {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/5_2.png");
  position: relative;

  @media screen and (max-width: 768px) {
    background-image: none;
  }
}

.main6 {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: url("../static/img/6.png");
  position: relative;

  @media screen and (max-width: 768px) {
    background-image: none;
  }

  &:after {
    content: "";
    display: block;
  }
}

@function get-xl($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

.main-complex {
  padding-top: 100px;

  &__text {
    width: 630px;
    margin: auto;
    margin-bottom: 140px;
    text-align: center;
    @media screen and (max-width: 992px) {
      max-width: 630px;
      padding: 0 15px;
      width: 100%;
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }

    .main-title {
      margin-bottom: 40px;
    }

    .main-text {
      max-width: 100%;
    }
  }

  &.example-classname {
    height: auto !important;
    @media screen and (max-width: 768px) {
      height: auto !important;
    }
  }


  &__map {
    position: relative;
    padding-bottom: 43%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../static/img/map-footer.png");
    @media screen and (max-width: 992px) {
      padding-bottom: 53%;
    }
  }

  &__point {
    position: absolute;
    top: 20px;
    left: 30px;

    &.point1 {
      top: get-xl(100px);
      left: get-xl(550px);
    }

    &.point2 {
      top: get-xl(420px);
      left: get-xl(420px);
    }

    &.point3 {
      top: get-xl(250px);
      right: get-xl(550px);
      left: auto;
    }

    &.point4 {
      top: get-xl(570px);
      left: auto;
      right: get-xl(550px);
    }
  }

  .min-point {
    height: 83px;
    width: 60px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../static/img/point-min.svg");
    display: block;

    &.hide {
      display: none;
    }

    @media screen and (max-width: 1500px) {
      transform: scale(0.9);
    }
    @media screen and (max-width: 1200px) {
      transform: scale(0.8);
    }
  }

  .big-point {
    height: 200px;
    width: 130px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../static/img/point-big.svg");
    padding-top: 40px;
    text-align: center;
    z-index: 2;
    position: absolute;
    display: block;
    transform: scale(0);
    transition: all 0.5s;
    @media screen and (max-width: 992px) {
      height: 120px;
      width: 80px;
      padding-top: 10px;
      text-align: center;
    }

    &.show {
      transform: scale(1) translate(-50px, - 70px);
      @media screen and (max-width: 768px) {
        transform: scale(0.8)  translate(-30px, - 50px);
      }
      @media screen and (max-width: 576px) {
        transform: scale(0.6)  translate(-80px, - 70px);
      }
    }

    &__title {
      font-size: 38px;
      color: $white-color;
      font-weight: bold;
      @media screen and (max-width: 992px) {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 12px;
      text-align: left;
      width: 70px;
      display: table;
      margin: 10px auto 0 auto;
      @media screen and (max-width: 992px) {
        width: 100%;
        text-align: center;
      }
    }

    &__box {
      position: absolute;
      background: $white-color;
      width: 0;
      top: -40px;
      left: 40px;
      z-index: 1;
      text-align: left;
      display: table;
      transition: all 0.5s;
      @media screen and (max-width: 992px) {
        left: 0;
        top: -30px;
      }

      @media screen and (max-width: 992px) {
        left: 0;
        top: -30px;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      &.show {
        width: max-content;
        padding: 30px 60px 30px 60px;
        @media screen and (max-width: 992px) {
          padding: 10px 10px 10px 40px;
        }

        a, .big-point__box--title {
          display: block;
        }
      }

      &--title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        transition: all 0.25s;
        display: none;
        @media screen and (max-width: 992px) {
          font-size: 18px;
        }
      }

      a {
        font-size: 14px;
        color: $black-color;
        margin-top: 10px;
        text-decoration: none;
        transition: all 0.25s;
        display: none;
        @media screen and (max-width: 992px) {
          font-size: 12px;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.wrap-main {
  .header {
    opacity: 0;
  }

  .main-center img, .main-center__title {
    opacity: 0;
  }

  .container-fluid.flex-end {
    opacity: 0;
  }

  .main__footer {
    opacity: 0;
  }
}

.anim {
  .header, .container-fluid.flex-end, .main__footer {
    animation: mainAnim 1.5s both;
  }
  .main-center img {
    animation: mainAnim 1s 1.5s both;
  }

  .main-center__title {
    animation: mainAnim 1.5s both;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
}

@keyframes mainAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
